body{
    color: #000000;}

.style-primary-color{
    color: #E64A19;

}

.style-secundary-color{
    color: #536DFE;
}

.style-background-black{
    background: #000000;
}

.style-background-white{
    background: #ffffff;
}

.style-background-primary{
    background-color: #E64A19;
}

.style-background-secundary{
    background-color: #536DFE;;
}

.style-header{
    background-color: #E64A19;
    color: #ffffff;
    font-family: "Courier 10 Pitch";
}

.style-questions{
    color: #000000;
    font-family: Arial;
    font-size: 30px;
}

.style-button-prev{
    width: 150px;
    background-color: #536DFE;
    color: #ffffff;
    float:left;
}

.style-button-next{
    width: 150px;
    background-color: #536DFE;
    color: #ffffff;
    float:right;
}

.style-button-begin{
    font-family: "Century Schoolbook L";
    font-size: 30px;
    color: #ffffff;
}